.hidden {
    display: none;
}
/* base */
body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
   text-decoration: none;
}

input {
    font-family: inherit;
    background: none;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and ( min-width: 768px) {
.container {
    max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
.container {
        max-width: 1158px;
    }
}

  /* header */

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list, 
.address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    border: none;
    padding: 0;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
.burger-btn {
    display: none;
}

.nav-header {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
    }

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-link.current {
    color: #404bbf;
}

.address {
    display: block;
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.address-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    }
}

@media screen and (min-width: 1158px) {
.header-logo {
    margin-right: 76px;
}

.address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-box {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mobile-menu-nav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-bottom: auto;
}

.menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-nav-link {
    color: #2e2f42;
}

.menu-nav-link.first {
  color: #404bbf;
}

.menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
    font-style: normal;
}

.menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
}

.menu-address-link.mail {
    color: #434455;
}

.menu-social-list {
    display: flex;
    gap: 40px;
}

.menu-social-item {
    width: 40px;
    height: 40px;
}

.menu-social-icon {
    fill: #fff;

}
.menu-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
  }
}

/* section hero  */

.section-hero {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
}

@media screen and (min-width: 768px) {
.section-hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    }

}

@media screen and (min-width: 1158px) {
.section-hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    }
}


.title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 72px;
}

@media screen and (min-width: 768px) {
    .title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px;
    }
}

@media screen and (min-width: 1158px) {
   .title {
    margin: 0 auto 48px;
   } 
}

.button-hero {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: 0;
    padding: 16px 32px;
    height: 56px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        ransition-property: background-color;
}

.button-hero:hover,
.button-hero:focus {
    background-color: #404bbf;
}

/* section concept */

.consept-icon {
    display: none;
} 

.section-concept {
    padding: 96px 0;
}

.titel-concept {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.concept-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

/* .concept-item {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
} */

.subtitle-concept {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-concept {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .concept-list {
        gap: 72px 24px;
      }

    .concept-item {
        width: 356px;
    }
    }
    
 @media screen and (min-width: 1158px) {
    .section-concept {
      padding: 120px 0;
    }

    .consept-icon {
       display: block;

   }

    .concept-list {
        gap: 24px;
     }

    .consept-box {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }

    .concept-item {
        width: calc((100% - 3*24px) / 4);
    }

    .subtitle-concept {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .text-concept {
        font-weight: 400;
    }
 }

























@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {}